#footer {
  padding: 0px 10px 10px;

  .translateLink {
    flex-shrink: 0;
    a {
      font-style: normal;
      text-decoration: none;
      color: var(--highlight);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .selectWrap {
    width: 100%;
    // position: relative;
    // margin-inline-start: 5px;

    &:hover::before {
      border-bottom: 2px solid var(--highlight);
      border-inline-end: 2px solid var(--highlight);
    }

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      text-overflow: ellipsis;
      background-color: var(--main-bg);
      color: var(--main-text);
      border: var(--button) solid 1px;
      border-radius: 2px;
      padding: 3px 5px;
      padding-inline-end: 20px;
      width: 50%;
      transition: border-color 100ms ease-out;
      scrollbar-color: var(--button) var(--line);
      &:hover {
        border-color: var(--highlight);
      }
    }
  }
}
